
form{
margin: 20px;
}


h1{
padding: 0.2em 1em;
background: #8FBC8F;
border: dashed 2px #2E8B57;
border-radius: 8px;
display: inline-block;
}


input.id{
height: 20px;
}


input.pass{
height: 20px;
}


input.submit{
width:80px;
height:30px;
}

